

p { color: #605833; 
    font-family: "Times New Roman", Times, serif;; 
    font-size: 16px; 
    padding: 10px 0; 
}

body { background-color:rgb(237, 213, 139);
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify
}

h1 { color: rgb(27, 26, 34);
    font-family: "Great Vibes", cursive; 
    font-size: 65px; 
    line-height: 60px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px;
     text-align: center;
      text-shadow: 0 1px 1px #fff;
}

figure {
    width: 100%;
    text-align: match-parent;
    font-style: italic;
    font-size: large;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
  }